<div class='concept_window'>
  <div class='concept_topbar'>
    <div class='concept_topbar_close' id='window-close'></div>
  </div>
  <div class='concept_content'>
    <h1 class='concept_title'>Interaction</h1>
    <p class='concept_desc'>
      What is interaction?
      <br>
      <br>
      ––
      <!-- <br>
      <br>
      in visual spacing
      <br>
      in chords -->
    </p>
    <p class='arena_link_desc'><i>linked to: m att / bits and bobs</i></p>
    <div class='arena' id='arena-02'>
      <!-- <div class='arena_block'>hello again</div> -->
    </div>
  </div>
</div>
