<!doctype html>
<html>
  <head>
    <title>Concept</title>
    <link rel='stylesheet' href='public/main.css'>
    <link rel='stylesheet' href='public/concept.css'>
  </head>
  <body>
    <div class='concept'>
      <h1 class='concept_title'> What about the days these days</h1>
      <p class='concept_body'>Hmmm</p>
    </div>

    <script src='public/js/vendor/jquery.min.js'></script>
    <script src='public/js/vendor/three.min.js'></script>
    <script src='public/js/concept.js'></script>
  </body>
</html>
