<!doctype html>
<html>
  <head>
    <title>A field of study</title>
    <link rel='stylesheet' href='public/css/main.css'>
    <link rel='stylesheet' href='public/css/field.css'>
    <link rel='stylesheet' href='public/css/concept.css'>
  </head>
  <body>
    <button id='save-cube-state'>save cube changes</button>
    <div class='field' id='field-01'></div>
    <!-- <div id='concept-01' class='concept'></div> -->
    <div id='windows'></div>

    <script src='public/js/vendor/jquery.min.js'></script>
    <script src='public/js/vendor/jquery-ui.min.js'></script>
    <script src='public/js/vendor/three.min.js'></script>
    <script src='public/js/vendor/dat.gui.min.js'></script>
    <script src='public/js/field.js'></script>
  </body>
</html>
